#bot_panel {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: .5rem;
    padding: .5rem 1rem .5rem 1rem;
    text-align: left;
}

.progress_bar {
    width: 100%;
    background-color: #e5dddd;
    height: 1rem;
    border-radius: .3rem;
}

.in_progress {
    background-color: #dde5dd;
}

.progress_bar>div {
    background-color: #1abc9c;
    height: 100%;
    border-radius: .3rem;
    transition: width 2.5s, background-color .5s;
}